name: Build and Test

on:
  workflow_dispatch:
  push:
    branches: [ "**" ]
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Gradle to support advanced caching
        uses: gradle/actions/setup-gradle@v5.0.1

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build release with Gradle
        run: ./gradlew assemble check

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: '**/build/test-results/**/*.xml'
